.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.animated.zoomIn,
.animated.zoomOut {
  animation-timing-function: cubic-bezier(.55,0,.1,1); // "Swift Out" easing curve
}

@keyframes zoomIn {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@keyframes zoomOut {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
  }
}

.zoomIn {
  animation-name: zoomIn;
}

.zoomOut {
  animation-name: zoomOut;
}