body {
  padding-top: 68px;
  background-color: @mdc-grey-200;
}

[data-animation="animate"] {
  //opacity: 0;
  transition: opacity 0.2s ease-in-out;

  &.animated{
    //opacity: 1;
  }
}

.margin-top {
  margin-top: 10px !important;
}
.padding-top-sm {
  padding-top: 5px !important;
}

/* ribbon */
.ribbon {
  background-image: url(../img/header-bg.png);
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
  height: 290px;
}

/* footer */
.footer {
  text-align: center;
  padding: 32px 16px;
  color: @mdc-grey-500;
  background-color: @mdc-grey-700;

  a {
    color: @mdc-grey-300;
    &:hover {
      color: @mdc-grey-500;
      text-decoration: none;
    }
  }
}

/* icons */
.icon {
  width: 48px;
  height: 48px;

  background-repeat: no-repeat;
  background-size: 48px 48px;
}
.icon.chrome {
  background-image: url("http://icons.iconarchive.com/icons/appicns/simplified-app/128/appicns-Chrome-icon.png");
}
.icon.safari {
  background-image: url("http://icons.iconarchive.com/icons/cornmanthe3rd/metronome/128/Internet-safari-icon.png");
}
.icon.opera {
  background-image: url("http://icons.iconarchive.com/icons/cornmanthe3rd/metronome/128/Internet-opera-icon.png");
}
.icon.firefox {
  background-image: url("http://icons.iconarchive.com/icons/cornmanthe3rd/metronome/128/Internet-firefox-icon.png");
}
.icon.msie {
  background-image: url("http://icons.iconarchive.com/icons/cornmanthe3rd/metronome/128/Internet-ie-icon.png");
}
/* main */
.main {
  margin-top: 8px;
  @media (min-width: 768px) {
    margin-top: -220px;
  }
}

/* main panel */
.main-panel .btn-lg {
  min-width: 122px;
  height: 48px;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: .1px;
  text-transform: uppercase;
  line-height: 48px;

  padding: 0 16px;
  margin: 0 8px;
  outline: 0;
  outline-offset: 0;
  border: 0;
  border-radius: 2px;

  background-color: @mdc-pink-500;
  color: @mdc-white-darker;
  transition: all 0.15s ease-in-out;
}
.main-panel .btn-lg:hover {
  background-color: @mdc-pink-700;
  color: @mdc-white-darker;
}
.main-panel h1, .jumbotron .h1 {
  //color: @mdc-black-dark;
}
.main-panel p {
  margin: 8px 0;
}
.main-panel .logo {
  float: left;
  padding-top: 15px;
  padding-right: 24px;
  margin: 20px 0;
}


#social-buttons {
  text-align: center;
}
#social-buttons ul {
  margin-bottom: 0;
}
#social-buttons li {
  vertical-align: middle;
  height: 20px;
}
#download-buttons {
  padding: 22px 0 17px;
  text-align: center;
  border-bottom: 1px solid #eee;
}

/* navbar */
.navbar {
  position: relative;
  padding: 0;
  margin: 0;
  border: 0;
  background-color: @mdc-grey-50;
}
.navbar-toggle {
  padding: 8px;
  margin: 14px 24px;
  border: 0;
  font-size: 21px;
  border-radius: 2px;
}
.navbar-fixed-top {
  position: fixed;
  top: -1px;
  transform: translate3d(0,0,0);
  .shadow-z-1();
}

.navbar-brand {
  height: inherit;
  padding: 22px 16px;
  font-size: 18px;
  line-height: 20px;
}

.navbar-nav>li>a {
  padding: 12px 32px;
  border-radius: 0;
  border-bottom: none;
}

@media (min-width: @screen-sm-min) {
  .navbar-nav>li>a {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: .1px;
    text-transform: uppercase;
    padding: 24px 16px;
    border-bottom: 2px solid transparent;
    line-height: 20px;
  }
  .navbar-nav>.active>a, .navbar-nav>.active>a:hover, .navbar-nav>.active>a:focus {

  }
  .navbar-right {
    margin-right: 0;
  }
}


.navbar-default .navbar-brand {
  color: @mdc-pink-700;
}
.navbar-default .navbar-brand:hover {
  color: @mdc-pink-900;
}
.navbar-default .navbar-nav>li>a {
  color: @mdc-black-dark;
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
  color: @mdc-black-darker;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
  color: @mdc-black-darker;
  background-color: transparent;
  border-bottom-color: @mdc-pink-700;
}

.navbar-brand {
  margin-left: 16px;
}

/* dropdown */
.dropdown {
  display: inline-block;
}
.dropdown-menu {
  top: 8px;
  right: 0;
  left: auto;
  min-width: 160px;
  margin: 0;
  padding: 4px 0;
  border: 0;
  border-radius: 0;
  background: #fff;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
}
.dropdown-menu .divider {
  position: relative;
  display: block;
  height: 1px;
  margin: 4px 0;
  padding: 0;
  overflow: hidden;
  background-color: @mdc-black-lighter;
}
.dropdown-menu > li > a {
  padding: 8px 16px;
  line-height: inherit;
  color: @mdc-black-dark;
  background-color: transparent;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a.hover,
.dropdown-menu > li > a:focus {
  text-decoration: none;
  color: @mdc-black-darker;
  background-color: @mdc-black-lighter;
}
.dropdown-menu .active > a,
.dropdown-menu .active > a:hover,
.dropdown-menu .active > a:focus {
  color: @mdc-black-darker;
  background-color: transparent;
}
.dropdown-menu .disabled > a,
.dropdown-menu .disabled > a:hover,
.dropdown-menu .disabled > a:focus {
  color: @mdc-black-light;
}
.dropdown-header {
  padding: 8px 16px;
  .mdt-caption();
  color: @mdc-black-darker;
}
.dropup .dropdown-menu {
  bottom: 0;
  margin: 0;
}

.page-header {
  padding-top: 30px;
  margin-bottom: 30px;
}

b, strong {
  font-weight: 500;
}
hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid @mdc-black-lighter;
}

code, kbd, pre, samp {
  font-family: @font-family-monospace;
}

code {
  padding: 2px 4px;
  font-size: 90%;
  color: @mdc-grey-700;
  background-color: @mdc-black-lighter;
  border-radius: 2px;
}
pre {
  display: block;
  padding: 8px;
  margin: 0 0 8px;
  font-size: 12px;
  line-height: 20px;
  color: @mdc-black-darker;
  word-break: break-all;
  word-wrap: break-word;
  background-color: @mdc-grey-100;
  border: 1px solid @mdc-grey-200;
  border-radius: 2px;
}


/* modal */
//
// Modals
// --------------------------------------------------

.shadow-z-5 {
  -webkit-box-shadow: 0 19px 38px rgba(0,0,0,.30),
  0 15px 12px rgba(0,0,0,.22);
  -moz-box-shadow:    0 19px 38px rgba(0,0,0,.30),
  0 15px 12px rgba(0,0,0,.22);
  box-shadow:         0 19px 38px rgba(0,0,0,.30),
  0 15px 12px rgba(0,0,0,.22);
}

// .modal-open      - body class for killing the scroll
// .modal           - container to scroll within
// .modal-dialog    - positioning shell for the actual modal
// .modal-content   - actual modal w/ bg and corners and shit

// To fix right padding on pages with scroll and fixed application bar
.modal-open {
  padding-right: 0;

  .modal {
    overflow: hidden;
  }
}

// Shell div to position the modal with bottom padding
.modal-dialog {
  position: relative;
  width: auto;
  height: 100%;
  margin: 48px;
}

// Actual modal
.modal-content {
  max-height: ~"calc(100% - 96px)";
  overflow-y: auto;
  padding: 8px;
  background-color: #fff;
  border: 0;
  border-radius: 0;
  .shadow-z-5();
}

// Modal background
.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000;
  // Fade for backdrop
  &.in { opacity: .5; }
}

// Modal header
// Top section of the modal w/ title and dismiss
.modal-header {
  padding: 16px;
  padding-bottom: 0;
  border: 0;
  min-height: inherit;
}
// Close icon
.modal-header .close {
  position: absolute;
  top: 10px;
  right: 10px;
  margin: 0;
  padding: 0;

  height: 56px;
  width: 56px;
  min-width: 56px;
  font-size: 24px;
  line-height: 56px;
}

// Title text within header
.modal-title {
  .mdt-title();
  margin: 0;
}

// Modal body
// Where all modal content resides (sibling of .modal-header and .modal-footer)
.modal-body {
  //.font-variant(subhead-1);
  color: @mdc-black-darker;
  padding: 16px;
}

// Footer (for actions)
.modal-footer {
  height: 48px;
  padding: 8px 16px;
  text-align: right; // right align buttons
  border: 0;
}

// Scale up the modal
@media (min-width: 768px) {
  // Automatically set modal's width for larger viewports
  .modal-dialog {
    width: 600px;
    margin: 48px auto;
  }
  .modal-content {
    .shadow-z-5();
  }

  // Modal sizes
  .modal-sm { width: 300px; }
}

@media (min-width: 992px) {
  .modal-lg { width: 900px; }
}



/* panel tagline style */
.list-subheader {
  margin: 0;
  padding: 14px 16px;
  color: @mdc-grey-600;
}

/* alerts */

.alert {
  padding: 16px;
  margin-bottom: 20px;
  border: none;
  border-radius: 2px;
}

.alert-danger {
  color: @mdc-red-900;
  background-color: @mdc-red-100;
}
.alert-success {
  color: @mdc-green-900;
  background-color: @mdc-green-100;
}